:root {
  --bglight: #ded4cc;
  --textlight: white;
  --navlight: rgb(190, 184, 184);
  --bgbrown: #412d15;
  --navbrown: #bf9428;
  --bggray: #232a32;
  --navgray: #3d4754;
  --textdark: #c17932;
  --bgcurrentcolor: var(--bggray);
  --navcurrentcolor: var(--navgray);
  --textcurrentcolor: var(--textlight);
}

@font-face {
  font-family: comic;
  src: url(./Oups_Outline.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: clamp(10px, 1.1vw, 30px);
  height: 100%;
  width: 100%;
  background-color: var(--bgcurrentcolor);
  font-size: clamp(30px, 2vw, 40px);
  font-family: sans-serif;
}

header {
  border-radius: 15px;
  height: clamp(40px, 5vw, 90px);
  width: 100%;
  background-color: var(--navcurrentcolor);
  padding: 0px 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header #small-name {
  display: none;
}
header #name-of-dashboard {
  font-size: 1rem;
}
header #theme-button {
  padding: 0.4rem;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
header #theme-button:active {
  scale: 0.9;
  transition: all ease 0.9s;
}
header {
  margin-bottom: 20px;
}

main {
  background-color: transparent;
}
main #wallpaper {
  height: 18vw;
  width: 100%;
  background-image: url(https://i.pinimg.com/1200x/04/55/2f/04552fda0587a3ebd5b5af5990a00bbe.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  margin-bottom: 20px;
}
main #taskBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  flex-wrap: wrap;
}
main #taskBlock .box {
  flex-shrink: 1;
  background-color: blue;
  height: 240px;
  width: 200px;
  border-radius: 20px;
  display: flex;
  align-items: end;
  justify-content: end;
  padding-right: 10px;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}
main #taskBlock .box:active {
  scale: 0.9;
  transition: all ease 1s;
}
main #taskBlock .Card-names {
  color: var(--textcurrentcolor);
  font-size: 0.7rem;
}
main #taskBlock [id="0"] {
  background-image: url(https://i.pinimg.com/736x/49/67/17/496717051474365248add6d05eedc795.jpg);
}
main #taskBlock [id="1"] {
  background-image: url(./img.png);
}
main #taskBlock [id="2"] {
  background-image: url(https://i.pinimg.com/736x/59/d3/13/59d31359cdb13e6a07c6c524ec824cde.jpg);
}
main #taskBlock [id="3"] {
  background-image: url(https://i.pinimg.com/1200x/76/d5/02/76d5026fb593c1a427cca8f6c8f68580.jpg);
}
main #taskBlock [id="4"] {
  background-image: url(https://i.pinimg.com/1200x/35/3f/bc/353fbcf7b4ea24e7d7e733683d512545.jpg);
}

.backbutton {
  position: absolute;
  right: 10px;
  top: 10px;
  color: black;
  cursor: pointer;
  display: none;
}

.newTab {
  display: none;
  color: var(--textcurrentcolor);
}

.todolist {
  display: none;
  height: 100%;
  width: 100%;
}
.todolist .toDoPage {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
}
.todolist .toDoPage .taskForm {
  flex-grow: 0.5;
  background-color: var(--navcurrentcolor);
  border-radius: 20px;
  flex-shrink: 0.5;
}
.todolist .toDoPage .taskForm form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  height: 100%;
  flex-shrink: 0.5;
}
.todolist .toDoPage .taskForm form input {
  flex-grow: 0.07;
  border-radius: 5px;
  border: none;
}
.todolist .toDoPage .taskForm form textarea {
  flex-grow: 0.6;
  border-radius: 5px;
  resize: none;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  border: none;
}
.todolist .toDoPage .taskForm form textarea::-webkit-scrollbar {
  display: none;
}
.todolist .toDoPage .taskForm form button {
  border-radius: 5px;
  flex-grow: 0.07;
  border: none;
  background-color: rgb(251, 164, 4);
  font-size: 30px;
  font-family: comic;
  font-weight: 700;
}
.todolist .toDoPage .taskForm form button:active {
  scale: 0.9;
  cursor: pointer;
  border-radius: 10px;
  transition: all ease 2s;
}
.todolist .toDoPage .taskList {
  border-radius: 20px;
  flex-grow: 1.5;
  background-color: var(--navcurrentcolor);
}

.Pomodorotimer {
  display: none;
  height: 100%;
  width: 100%;
  font-family: comic;
  font-size: 40px;
  font-weight: 900;
}

@media (max-width: 900px) {
  .toDoPage {
    flex-direction: column;
  }
}
@media (max-width: 684px) {
  header #small-name {
    display: block;
    font-size: 1rem;
  }
  header #name-of-dashboard {
    display: none;
  }
  main #wallpaper {
    height: 45vw;
  }
}
@media (max-width: 425px) {
  header {
    background-color: transparent;
    justify-content: start;
  }
  header #small-name {
    display: none;
  }
  header button {
    font-size: 0.4rem;
  }
  main #wallpaper {
    height: 64vw;
  }
}/*# sourceMappingURL=style.css.map */